@font-face {
    font-family: 'Futura';
    src: url(../fonts/Futura-Medium.woff) format(woff);
    font-weight: 500;
}

@font-face {
    font-family: 'NanumSquare';
    src: url(../fonts/NanumSquareOTFRegular.woff) format(woff);
    font-weight: 400;
}

@font-face {
    font-family: 'NanumSquare';
    src: url(../fonts/NanumSquareOTFBold.woff) format(woff);
    font-weight: 700;
}

@font-face {
    font-family: 'NanumSquare';
    src: url(../fonts/NanumSquareOTFExtraBold.woff) format(woff);
    font-weight: 800;
}
